In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder

In [7]:
data = pd.read_csv("C:\\Users\\kilar\\OneDrive\\Desktop\\Gen AI\\ANN-Classification\\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
#dropping unecessary values
data = data.drop(['RowNumber','CustomerId','Surname'],axis = 1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# Label encoding
label_encoding = LabelEncoder()
data['Gender'] = label_encoding.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [18]:
# Encoding multi class variables

one_hot_encoding = OneHotEncoder()
encoded_df = one_hot_encoding.fit_transform(data[['Geography']])
encoded_df = encoded_df.toarray()

In [14]:
features = one_hot_encoding.get_feature_names_out(['Geography'])
features

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [19]:
geo_df = pd.DataFrame(encoded_df,columns=features)
geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [20]:
data = data.drop(['Geography'],axis = 1)
data = pd.concat([data,geo_df],axis = 1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [21]:
# tarin test split
X = data.drop(['Exited'],axis = 1)
y = data['Exited']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=23)

In [ ]:
#Scaling features

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

array([[ 1.42881877, -1.08729708, -0.56942226, ...,  0.99875078,
        -0.57696537, -0.57677292],
       [-0.32367306, -1.08729708, -0.56942226, ..., -1.00125078,
         1.73320628, -0.57677292],
       [-0.9873386 , -1.08729708,  0.67036996, ..., -1.00125078,
         1.73320628, -0.57677292],
       ...,
       [-0.26145441,  0.91971184, -1.61847722, ...,  0.99875078,
        -0.57696537, -0.57677292],
       [ 1.19031397,  0.91971184, -0.18794773, ..., -1.00125078,
         1.73320628, -0.57677292],
       [ 0.40221113,  0.91971184,  3.24532303, ..., -1.00125078,
        -0.57696537,  1.73378459]])

In [38]:
# saving all the loaders as pickle files

import pickle
with open('label_encoding.pickle','wb') as file:
    pickle.dump(label_encoding,file)

with open('one_hot_encoding.pickle','wb') as file:
    pickle.dump(one_hot_encoding,file)

with open('Standard_Scaler.pickle','wb') as file:
    pickle.dump(sc,file)

In [25]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [29]:
model = Sequential()
model.add(Dense(64,activation = 'relu', input_shape = (X_train.shape[1],)))
model.add(Dense(32,activation = 'relu'))
model.add(Dense(1,activation='sigmoid'))

In [31]:
from tensorflow.keras.optimizers import Adam
opt = Adam(learning_rate = 0.01)
model.compile(optimizer=opt,loss='binary_crossentropy',metrics = ['accuracy'])

In [32]:
import datetime
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%M%D-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir)

In [33]:
early_stopping = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [34]:
history = model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[early_stopping,tensorflow_callback])

Epoch 1/100
WARNING:tensorflow:From c:\Users\kilar\OneDrive\Desktop\Gen AI\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\kilar\OneDrive\Desktop\Gen AI\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 7ms/step - loss: 0.3959 - accuracy: 0.8354 - val_loss: 0.3542 - val_accuracy: 0.8530
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3571 - accuracy: 0.8560 - val_loss: 0.3466 - val_accuracy: 0.8620
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3497 - accuracy: 0.8597 - val_loss: 0.3453 - val_accuracy: 0.8640
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3472 - accuracy: 0.8576 - val_loss: 0.3487 - val_accuracy: 0.8515
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3445 - accuracy: 0.8605 - val_loss: 0.3397 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3409 - accuracy: 0.8624 - val_loss: 0.3465 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3353 - accuracy: 0.8645 - val_loss: 0.3453 - val_accuracy: 0.8550
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3357 - accuracy: 0.8622 - val_loss: 0.3445 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3331 - accuracy: 0.8649 - val_loss: 0.3499 - val_accuracy: 0.8660
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3316 - accuracy: 0.8637 - val_loss: 0.3446 - val_accuracy: 0.8510

In [35]:
model.save('model.h5')

c:\Users\kilar\OneDrive\Desktop\Gen AI\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
model.save('my_model.keras')

In [37]:
%load_ext tensorboard
%tensorboard --logdir logs/fit20255311